@import "src/styles/fonts.css";
@import "src/styles/wrapper.css";
@import "src/styles/container.css";
@import "src/styles/logo.css";
@import "src/styles/buttons.css";
@import "src/styles/title.css";
@import "src/styles/banner.css";
@import "src/styles/bulleted-list.css";

@import "src/styles/header.css";
@import "src/styles/navigation.css";
@import "src/styles/pagination.css";
@import "src/styles/content.css";
@import "src/styles/product.css";
@import "src/styles/info-block.css";
@import "src/styles/card-aspect.css";
@import "src/styles/footer.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "SFProText", "Courier New", Courier, monospace;
  font-size: 26px;
}

ul,
ol[class] {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}