.header + * {
  margin-top: 80px;
}

.header__inner {
  padding: 0 100px;
  background-color: white;
  display: flex;
  align-items: center;
}

.header__banner {
  text-align: center;
  padding: 36px;
  background: gray url("../images/bg.webp");
  background-size: contain;
  color: white;
  font-weight: 700;
}
