.info-block {
  padding: 100px 0;
}

.info-block:nth-of-type(3n-1) {
  background-color: white;
}

.info-block:nth-of-type(4n-1) {
  background-color: #fff5cc;
}

.info-block__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 42px;
}

.info-block__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-block__text {
  & + * {
    margin-top: 32px;
  }
}

.info-block__text--bold {
  display: block;
  margin-top: 32px;
}

.info-block__image {
  overflow: hidden;

  & + * {
    margin-top: 32px;
  }
}

.info-block__image--small {
  display: grid;
  max-height: 289px;

  & img {
    height: 289px;
    object-fit: contain;
    object-position: center;
  }
}
