.pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 18px;
  margin: 60px 0 80px;
}

.pagination__item {
  border-radius: 6px;
  border: 1px solid #0297d4;
  font-weight: 700;
  color: #0297d4;
  overflow: hidden;

  & a {
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease-in-out;
  }

  & a:hover {
    opacity: 0.6;
    color: white;
    background-color: #0297d4;
  }
}

.pagination__item--active {
  & a {
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: #0297d4;
  }

  & a:hover {
    opacity: 1;
    color: white;
    background-color: #0297d4;
    cursor: default;
  }
}
